@keyframes rollout {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}
@keyframes bk_anim {
	100% {
		background-color: rgba(0, 0, 0, 0.3);
	}
}

.pop-up {
	animation: 0.6s bk_anim ease-in;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	transition: 1s;
	background-color: rgba(0, 0, 0, 0.3);
	backdrop-filter: saturate(180%) blur(1.5px);
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pop-up-inner {
	animation: 0.55s rollout ease-in-out;
	width: 50vw;
	height: 17rem;
	border-radius: 10px;
	background: #222831;
	backdrop-filter: saturate(180%) blur(10px);
	box-shadow: 0px 10px 15px 10px rgb(0 0 0 / 15%);
}

@media screen and (max-width: 900px) {
	.pop-up-inner {
		height: 17rem;
	}
}

@media screen and (max-width: 600px) {
	.pop-up-inner {
		width: 90%;
		height: 18rem;
	}
}
@media screen and (max-width: 320px) {
	.pop-up-inner {
		width: 90%;
		height: 18rem;
	}
}
